.head {
  display: inline-flex;
  align-content: center;
  margin-left: 50%;
  margin-right: auto;
}
header {
  display: inline-flex;
}
.head.img {
  float: left;
}
h1 {
  float: right;

  font-size: 58px;
}
.profile-img {
}
.childInfo {
  display: inline;
}
