.rainbow-m-horizontal_xx-large {
  margin-right: 20rem;
  margin-left: 35%;
  width: 25%;
}
.rainbow-p-horizontal_xx-large {
  padding-right: 12rem;
  margin-left: 35%;
  width: 25%;
}
.rainbow-p-vertical_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 25%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 25%;
}
select {
  border-radius: 20px;
  height: 40px;
  margin-right: 20rem;
  margin-left: 35%;
  width: 25%;
}
button {
  border-radius: 20px;
  margin-left: 45%;
  margin-top: 20px;
}
